.reserve-button {
  background-color: teal;
  color: white;
}

input,
.reserve-button,
.sort-button {
  margin-right: 2vw;
  font-size: 1.5vw;
  padding: .5vw;
  width: 15vw;
  border: none;
  border-radius: 5px;
}

.sort-button {
  background-color: #FFBF00;
  float: left;
  margin-top: 1vw;
}
